{% extends "master.html" %}
{% block title %}Results{% endblock %}

{% block message %}

{% endblock %}

{% block content %}
<div class="row" style="padding-top:2rem; padding-bottom:2rem">
  <div class="six columns">
    <label for="portugeseReviewInput">Review or Comment Input</label>
    <p class="text-center"><i>{{query}}</i></p>
  </div>

  <div class="six columns">
    <label for="sentimentResult">Sentiment Result</label>
    <p class="text-center"><i>{{sentiment_result}}</i></p>
  </div>
</div>
{% endblock %}
