<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Portugese Review Sentiment Predictor</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
          integrity="sha512-5fsy+3xG8N/1PV5MIJz9ZsWpkltijBI48gBzQ/Z2eVATePGHOkMIn+xTDHIfTZFVb9GMpflF2wOWItqxAP2oLQ=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<!-- Navigation Bar -->
<div class="container">
    <div class="row nav" style="padding:1rem; background-color:#020202; color:#a9a9a9; height:30px">
      <p class="u-pull-left">Portugese E-Commerce Customer Review Sentiment Classifier</p>
      <ul class="u-pull-right" style="list-style:none; display:flex;">
        <li style="margin-right: 1rem;"><a href="https://www.kaggle.com/olistbr/brazilian-ecommerce">
          Brazilian E-Commerce Public Dataset by Olist</a></li>
        <li><a href="https://github.com/fucheng96">My GitHub Profile</a></li>
      </ul>
    </div>
</div>

<body style="padding:1rem; background-color:#161616; color:white">
  <div class="container" style="padding-bottom:3rem">
    <h3 class="text-center">Portugese E-Commerce Customer Review Sentiment Classifier</h3>
    <hr />

    <form action="/go" method="get">
      <div class="nine columns">
        <label for="portugeseReviewInput">Portugese Review or Comment</label>
        <input type="text"
               class="u-full-width"
               name="query"
               placeholder="Enter a message to classify e.g. Este é um produto tão bom!">
      </div>
      <div class="three columns">
        <label for="predictButton"
               style="color:white">Press Button Below</label>
        <button type="submit"
                class="u-full-width"
                style="color:white; background-color:#1e90ff"
                >Predict Sentiment</button>
      </div>
    </form>
    {% block message %}
    {% endblock %}
  </div>

  <div class="container">
    {% block content %}
      <div class="page-header">
          <h4 class="text-center">Overview of Training Dataset from Olist</h4>
      </div>
    {% endblock %}

    {% for id in ids %}
      <div id="{{id}}" style="border-style: solid; color:#e0e0e0"></div>
    {% endfor %}
  </div>

  <script type="text/javascript">
    const graphs = {{graphJSON | safe}};
    const ids = {{ids | safe}};
    for(let i in graphs) {
        Plotly.plot(ids[i], graphs[i].data, graphs[i].layout);
    }
  </script>

</body>
</html>
